<div class="center jumbotron">
  <h1>Welcome to the Members-Only App</h1>

  <h2>
    Are you wondering who wrote that post about you? Click the botton below to discover it!
  </h2>
  
  <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
  
</div>

<ul class="post">
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
</ul>
